<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">


            <div class="hero">
                <div class="swiper-container">
                <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="hero__title">Read Book!</div>
                                <img src="assets/book1.jpg">
                        </div>
                        <div class="swiper-slide">
                            <div class="hero__title">Experience!</div>
                            <img src="assets/book2.jpg">
                        </div>
                        <div class="swiper-slide">
                            <div class="hero__title">Search Book!</div>
                            <img src="assets/book3.jpg">
                        </div>
                    </div>
                    <div class="hero__footer">
                        <img class="hero__downarrow"src="assets/arrow.svg">
                        <span class="hero__scrolltext">scroll</span>
                    </div>
                </div>
            </div>
            <div id="main-content">
                <main>
                    <section class="mybooks">
                        <div class="mybooks__inner">
                            <div class="cover-slide mybooks__img">
                                <img class="img-zoom" src="assets/image-1.jpg" alt="">
                            </div>
                            <div class="mybooks__texts">
                                <div class="mybooks__text-inner">
                                    <div class="mybooks__title main-title">
                                        <span class="purple">Search</span><span>  the  books!</span>
                                    </div>
                                    <div class="mybooks__sub sub-title">お気に入りの一冊を見つけよう</div>
                                    <div class="mybooks__description">
                                        <p>一人一人の<br>
                                        理想の一冊が集まるサービスです。</p>
                                    </div>
                                    <div class="mybooks__btn">
                                        <%= link_to "みんなの投稿", books_favorite_path, {class: "link-btn btn filled"} %>
                                    </div>                            
                                </div>
                            </div>
                        </div>
                    </section>
                <% if user_signed_in? %>
                    <section class="post">
                        <div class="post__inner">
                            <div class="post__texts">
                                <div class="post__text-inner">
                                    <div class="post__title main-title">
                                        <span>Post your </span><span class="purple">Book</span><span></span>
                                    </div>
                                    <div class="regist__sub sub-title">あなたの一冊を投稿しよう</div>
                                    <div class="regist__description">
                                        <p>あなたのおすすめの一冊<br>
                                        を投稿して共有しよう!</p>
                                    </div>
                                    <div class="post__btn">
                                        <%= link_to "投稿する", new_book_path, {class: "link-btn btn slide-bg"} %>
                                    </div>            
                                </div>
                            </div>
                            <div class="regist__img cover-slide">
                                <img class="img-zoom" src="assets/book4.jpg" alt="">
                            </div>
                        </div>
                    </section>
                <% else %>
                    <section class="regist">
                        <div class="regist__inner">
                            <div class="regist__texts">
                                <div class="regist__text-inner">
                                    <div class="regist__title main-title">
                                        <span>Regist your </span><span class="purple">profile</span><span></span>
                                    </div>
                                    <div class="regist__sub sub-title">あなたの一冊を投稿しよう</div>
                                    <div class="regist__description">
                                        <p>会員登録して，<br>
                                        あなたのおすすめの一冊を投稿しよう!</p>
                                    </div>
                                    <div class="mybooks__btn">
                                        <%= link_to "sign up", new_user_registration_path, {class: "link-btn btn slide-bg"} %>
                                    </div>            
                                </div>
                            </div>
                            <div class="regist__img cover-slide ">
                                <img class="img-zoom" src="assets/book4.jpg" alt="">
                            </div>
                        </div>
                    </section>
                <% end %>
                
                </main>
            </div>
            <!--<footer class="footer appear up">
                <nav class="footer__nav">
                    <div class="footer__inner">
                        <div class="logo">
                            <img src="">
                            <span class="logo__my">My</span>
                            <span class="logo__Book">Book</span>
                        </div> 
                        <div class="footer__copyright item">
                            &copy; GeekSalon
                        </div>
                    </div>
                </nav>
            </footer> -->




<!-- JavaScriptの適応 -->
<%= javascript_pack_tag 'libs/hero-slider'%>

