
.font-sm{
    font-size:16px;
}

.font-md{
    font-size:19px;
}

.font-lr{
    font-size:23px;
}

.font-lg{
    font-size:36px;
}

.mg-sm{
    margin-bottom:16px !important;
}

.mb-lg{
    margin-bottom: 80px !important;
}

.pd-sm{
    font-size:150px !important;
}

.pd-lg{
    padding-bottom:150px !important;
}