/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/

.font-md {
    font-size:17px;
}
.contribute-name{
    font-size:14px;
    flex-basis: 47%;
    & > h3{
        & > a{
            color:Black;
            cursor:pointer;
        }
    }
}

.min-post{
    display:inline-block;
}

.contribute-time{
    display:block;
    flex-basis: 47%;
    text-align:end;
    font-size:17px;
    & > a{
        vertical-align:bottom;
    }
}