$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$contentMaxWidth: 1070px;
$navHeight: 100px;




.font-sm{
    font-size:14px;
}

.font-md {
    font-size:17px;
}

.font-lr{
    font-size:17px;
}

.font-lg {
    font-size:25px;
}

.mb-sm{
    margin-bottom:16px !important;
}

.mb-lg{
    margin-bottom:80px !important;
}

.pb-sm{
    padding-bottom:16px !important;
}

.pd-lg{
    padding-bottom:80px !important;
}