$cWhite:white;

@mixin animation(
  $name,
  $duration: 1s,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards
) {
  animation: {
    name: $name;
    duration: $duration;
    timing-function: $timing-function;
    delay: $delay;
    iteration-count: $iteration-count;
    direction: $direction;
    fill-mode: $fill-mode;
  }
}

.swiper-container {
    overflow:visible !important;
}

.swiper-slide{
    height:500px;
    overflow:hidden;
    & > img{
        width:100%;
        height:100%;
        object-fit:cover;
        transform:scale(1.3);
        transition:transform 1.9s ease;

    }

    &::after {
        content: '';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:rgba(0,61,125,0.1)

    }
    &-active{
        & > img{
            transform:none;
        }

        & .hero__title{
            opacity:1;
            transform:translate(-50%,-50%)
        }
    }
}

.hero{
    overflow:hidden;
    &__title{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,calc(-50% + 20px));
        color:$cWhite;
        font-size:25px;
        z-index:2;
        opacity:0;
        transition:opacity 0.3s ease 1s,transform 0.3s ease 1s;
    }

    &__footer{
        position:absolute;
        overflow:hidden;
        left:50%;
        bottom:20px;
        transform:translateX(-50%);
        z-index:2;
        width:30px;
        height:68px;
    }

    &__downarrow{
        position:absolute;
        left:0;
        bottom:0;
        width:8px;

        @include animation($name: kf-arrow-anime,$iteration-count:infinite,$duration:2s,$timing-function:linear)
    }

    &__scrolltext{
        position:absolute;
        transform:rotate(90deg);
        color:$cWhite;
        left:-10px;
        top:15px;
        font-size:0.9em;
        color:rgba(255,255,255,0.7)
    }
}

@keyframes kf-arrow-anime {
    0%,
    50%,
    100%{
        transform:translateY(-10%)
    }
    30%{
        transform:none;
    }
}