@import 'modules/hero-slider.scss';



@import 'modules/text-animation';
@import 'modules/image-slide';
@import 'modules/mobile-menu';
@import 'modules/button';
@import "breakpoints/book-index";
@import "breakpoints/book-new";
@import "breakpoints/book-favorite";
@import "modules/search";
// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$contentMaxWidth:1070px;

#container{
    transition: transform 10,box-shadow 0.5s;    
}



.content-width{
    width:90%;
    margin:0 auto;
    max-width:1070px;
}
  


.books-container{
    @extend .content-width;
}


// hero-header
$cWhite:white;


//画像サイズ
.hero-slide{
    height:300px;
    width:60%;
}




//投稿本のスタイル
// .books{
//     display:flex;
//     flex-direction:row;
//     justify-content:center;
//     align-items:center; 
//     width:80%;     
    
//     & .right-container{
//         display:flex;
//         flex-direction:column; 
      
//     }
//     & .right-content{
//         word-wrap:break-word;
//     }
// }

//index の画面デザイン


