// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flex {
    display: flex;
    flex-direction: column;
}
.show-container{
    & > hr{
        margin:auto;
        text-align:center;
        margin-bottom:20px;
    }

    & > .title{
        text-align:center;
    }


}
.left-container{
    margin-bottom:20px;
}
.profile-container{
    @extend .flex;
    justify-content:center;
    align-items: center;
    margin-bottom:20px;
    & img{
        border-radius: 50%;
        border: 2px solid #000000;
    }

    & .right-container{
        display:flex;
        flex-direction:column;
        justify-content:center;

        margin-left:40px;

        & .right-child{
            & > h3{
                margin-bottom:0px;
            }
            margin-bottom:10px;
        }
    }
}

//アイコンのデザイン
.del-edit-btn{
    position:absolute;
    bottom:0;
    right:0;
    padding-bottom:10px;
    padding-right:10px;
    display:flex;
    border:none;
 

    & .edit-btn{
        border:none;
        background-color: #eaebe6;

        &:focus{
            outline:0;
        }
    }

    & .delete-btn{
        border:none;
        background-color: #eaebe6;
        &:focus{
            outline:0;
        }
    }

    & .fa-edit,.fa-trash-alt{
        color:black;
    }


}
.books-container{
    
    & > hr{
        size:9;

    }
    & .no-post, .no-favorite{
        text-align:center;
        font-size:30px;
        color:#535353;
    }


}